<div class="p-2">
  <div class="d-flex bd-highlight clearfix">
    <div class="p-2 flex-grow-1 bd-highlight m-auto">
      <h5>9 musician found</h5>
    </div>
    <div class="p-2 bd-highlight">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">genre</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01">
          <option selected>Choose...</option>
          <option value="1">Metal</option>
          <option value="2">Pop</option>
          <option value="3">Jazz</option>
        </select>
      </div>
    </div>
  </div>
  <app-musician></app-musician>
</div>
