<footer class="container-fluid">
  <div class="row">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/"><i class="fa fa-github"></i> Github </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/"><i class="fa fa-twitter"></i> Twitter </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/"
          ><i class="fa fa-instagram"></i> Instagram
        </a>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="footer-copyright py-3">
        <p>Copyright © 2020 Design and build with Bootstrap and Angular</p>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <ul class="nav d-flex justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="/"
            ><img
              style="max-width: 100px;"
              src="../../../assets/images/appstore.png"
              alt="Appstore"
          /></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/"
            ><img
              style="max-width: 100px;"
              src="../../../assets/images/gplay.png"
              alt="playstore"
          /></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
