<footer
  class="page-footer font-small pt-4 shadow clearfix"
  style="background-color: snow;"
>
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="text-uppercase">Museek, inc.</h5>
        <address>
          1355 Market St, Suite 900 <br />
          Indonesia, CA 94103 <br />
          <span><i class="fa fa-phone"></i> (123)456-789</span><br />
          <span><i class="fa fa-envelope"></i> rifqhiyr@gmail.com</span>
        </address>
      </div>

      <hr class="clearfix w-100 d-md-none pb-3" />

      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">Follow us</h5>

        <ul class="list-unstyled font-weight-bold">
          <li class="nav-item">
            <a style="color: black;" href="/"
              ><i class="fa fa-instagram"></i> Instagram</a
            >
          </li>
          <li class="nav-item">
            <a style="color: black;" href="/"
              ><i class="fa fa-twitter"> </i> twitter</a
            >
          </li>
          <li class="nav-item">
            <a style="color: black;" href="/"
              ><i class="fa fa-facebook"></i> facebook</a
            >
          </li>
          <li class="nav-item">
            <a style="color: black;" href="/"
              ><i class="fa fa-github"> </i> Github</a
            >
          </li>
        </ul>
      </div>

      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">Avaliable on</h5>

        <ul class="list-unstyled">
          <li class="nav-item">
            <a style="color: black;" href="#!"><img src="" alt="g-play" /></a>
          </li>
          <li class="nav-item">
            <a style="color: black;" href="#!"
              ><img src="" alt="app-store"
            /></a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-copyright text-center py-3">
    © 2020 Made with <i class="fa fa-coffee"></i> and
    <span>Angular</span>
  </div>
</footer>
