<div class="navbar navbar-expand-xl navbar-light bg-white shadow-sm sticky-top">
  <a class="navbar-brand" routerLink="/"
    ><img
      style="max-width: 130px;"
      src="../../../assets/images/logo.png"
      alt=""
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li
        class="nav-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link" routerLink="/"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/musician-list']">Musicians</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/profile']">Profile</a>
      </li>
      <li class="nav-item mr-lg-3">
        <a class="nav-link" [routerLink]="['event']">Event</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 d-flex justify-content-between">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        sign in
      </button>
    </form>
  </div>
</div>
