<form class="mt-2 mb-2">
  <div class="form-group">
    <label for="comment-textarea">Comment Section</label>
    <textarea
      class="form-control"
      name="comment-textarea"
      id="comment-textarea"
      placeholder="write comment here ..."
      [(ngModel)]="empty"
      #commentInput
    ></textarea>
  </div>
  <div class="form-group d-flex justify-content-end">
    <button
      [disabled]="!empty"
      (click)="onClickSubmit()"
      type="submit"
      class="btn btn-primary"
    >
      Submit
    </button>
  </div>
</form>
