<div
  class="modal fade"
  id="auth"
  tabindex="-1"
  role="dialog"
  aria-labelledby="authLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="alert alert-danger" *ngIf="error">
          <p>{{ error }}</p>
        </div>
        <div *ngIf="isLoading" style="text-align: center;">
          <app-loading-spinner></app-loading-spinner>
          <p>wait a moment</p>
        </div>
        <h5 *ngIf="!isLoading">
          {{ isLoginMode ? "Sign-In Form" : "Sign-Up Form" }}
        </h5>
        <form
          #authForm="ngForm"
          (ngSubmit)="onSubmit(authForm)"
          *ngIf="!isLoading"
        >
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              ngModel
              name="email"
              required
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              ngModel
              name="password"
              required
              minlength="6"
            />
          </div>
          <div class="form-group" *ngIf="!isLoginMode">
            <p>Register as</p>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="costumer"
                id="costumer"
                ngModel
              />
              <label class="form-check-label" for="costumer">Customer</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="musician"
                id="musician"
                ngModel
              />
              <label class="form-check-label" for="musician">Musician</label>
            </div>
          </div>
          <div class="modal-footer justify-content-center">
            <button
              type="submit"
              class="btn btn-outline-primary"
              [disabled]="!authForm.valid"
            >
              {{ isLoginMode ? "Sign In" : "Sign Up" }}
            </button>
            <br /><br />
            <a type="button" class="badge" (click)="onSwitchMode()">
              {{ isLoginMode ? "or Sign Up" : "back to login" }}
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
