<div class="media mt-2 mb-2">
  <img
    [src]="comment.imgPath"
    class="mr-3 rounded"
    alt="{{ comment.name }}"
    style="max-width: 50px;"
  />
  <div class="media-body">
    <h5 class="mt-0">{{ comment.name }}</h5>
    {{ comment.content }}

    <div class="d-flex justify-content-end">
      <a
        class="badge badge-light"
        role="button"
        data-toggle="collapse"
        [attr.data-target]="'#collapseExample' + comment.id"
        aria-expanded="false"
        aria-controls="collapseExample"
      >
        reply <span class="fa fa-caret-down"></span>
      </a>
    </div>

    <div class="media mt-3 collapse" [id]="'collapseExample' + comment.id">
      <a class="mr-3" href="#">
        <img
          [src]="comment.imgPath"
          class="mr-3 rounded"
          alt=""
          style="max-width: 50px;"
        />
      </a>
      <div class="media-body">
        <h5 class="mt-0">comment.name</h5>
        {{ comment.content }}
      </div>
    </div>
  </div>
</div>
