<div>
  <section class="jumbotron text-center bg-transparent">
    <h1 class="display-4">Musician's best friend</h1>
    <p class="lead"></p>
    <hr class="my-4" />
    <p>
      PLACE FOR EVERYONE WHO WANTS TO BOOK VARIOUS GROUP OF TALENTED MUSICIANS
      AND A PLACE FOR MUSICIANS TO COLLABORATION WITH OTHER MUSICIANS
    </p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </section>
  <section class="container">
    <p>We've got what you need!</p>
  </section>
</div>
