<section class="container">
  <div class="jumbotron shadow-sm">
    <h1 class="display-4">Musician best friend</h1>
    <p class="lead"></p>
    <hr class="my-4" />
    <p>
      For music enthusiast who wants to book a musician / collabs with musician,
      “MUseek” is a tech platform that provide a convenience to use musician’s
      services. Our vision is to be the Musician’s best friends. To build a
      place for everyone who wants to book various group of talented musicians
      and a place for musicians to collabs with other musicians.
    </p>
    <button class="btn btn-primary btn-lg" href="#" role="button">
      Learn more
    </button>
  </div>

  <div class="row pt-5 pb-5">
    <div class="card-columns">
      <div class="card shadow-sm">
        <img
          src="../../../assets/images/birthday.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Card title that wraps to a new line</h5>
          <p class="card-text">
            This is a longer card with supporting text below as a natural
            lead-in to additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
      <div class="card p-3 shadow-sm">
        <img
          src="../../../assets/images/gigs4.jpg"
          class="card-img-top"
          alt="..."
        />
        <blockquote class="blockquote mb-0 card-body">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
            posuere erat a ante.
          </p>
          <footer class="blockquote-footer">
            <small class="text-muted">
              Someone famous in <cite title="Source Title">Source Title</cite>
            </small>
          </footer>
        </blockquote>
      </div>
      <div class="card shadow-sm">
        <img
          src="../../../assets/images/festival.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This card has supporting text below as a natural lead-in to
            additional content.
          </p>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
      <div class="card bg-primary text-white text-center p-3 shadow-sm">
        <blockquote class="blockquote mb-0">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
            posuere erat.
          </p>
          <footer class="blockquote-footer text-white">
            <small>
              Someone famous in <cite title="Source Title">Source Title</cite>
            </small>
          </footer>
        </blockquote>
      </div>
      <div class="card text-center shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This card has a regular title and short paragraphy of text below it.
          </p>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
      <div class="card shadow-sm">
        <img
          src="../../../assets/images/gigs1.jpg"
          class="card-img-top"
          alt="..."
        />
      </div>
      <div class="card p-3 text-right">
        <blockquote class="blockquote mb-0">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
            posuere erat a ante.
          </p>
          <footer class="blockquote-footer">
            <small class="text-muted">
              Someone famous in <cite title="Source Title">Source Title</cite>
            </small>
          </footer>
        </blockquote>
      </div>
      <div class="card shadow-sm">
        <img
          src="../../../assets/images/gigs2.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="pt-5 pb-5">
    <div class="row">
      <div class="col-12 col-md-6">
        <div><h2>What We Do?</h2></div>
      </div>
      <div class="col-12 col-md-6">
        <div>
          <p>
            Place for everyone who wants to book various group of talented
            Musicians and a place for musicians to collaboration with other
            Musicians
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
