.row {
  margin-top: 2rem;
  margin-bottom: 3rem;
  padding: 5rem 1rem;
}
.container {
  text-align: center;
  padding: 0 1rem;
  margin-bottom: 5rem;
}

.jumbotron {
  padding: 48px 16px;
  background-color: transparent;
  height: auto;
}

h1 {
  margin: 32px 0;
  padding: 32px 0;
}

h2 {
  padding-bottom: 2rem;
}

h4 {
  margin: 32px 0;
  padding: 0;
}

button {
  margin: 32px 16px;
}
