<div class="container">
  <div class="row costumer">
    <a class="col-md-6" *ngFor="let booking of bookings; let i = index">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ booking.category }}</h5>
          <p class="card-text">
            <i class="fa fa-calendar"></i> {{ booking.dateEvent }}
          </p>
          <p><i class="fa fa-clock-o"></i> {{ booking.duration }} hours</p>
          <p><i class="fa fa-map-marker"></i> {{ booking.location }}</p>
          <div class="d-flex justify-content-around">
            <button class="btn btn-outline-warning" (click)="onSubmit(i)">
              Edit Booking
            </button>
            <button class="btn btn-outline-danger" (click)="onDelete(i)">
              Delete Booking
            </button>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
