.row {
  margin: 1rem 0 4rem;
}

.card {
  margin: 2rem 0;
}

ul {
  margin: 1rem 0;
}

button {
  width: 150px;
  margin-right: 1rem;
}

input {
  border: none;
  outline: none;
  width: 100% !important;
}
