<div class="container">
  <form>
    <fieldset class="form-group">
      <div class="row">
        <div class="col-12 col-md-4 text-center">
          <div class="card" style="max-width: 350px;">
            <img
              class="img-fluid rounded"
              src="../../../assets/images/be2.jpg"
              alt=""
            />
          </div>
          <div class="card">
            <div class="card-body">
              <h3>RIfqi Yuliandri</h3>
              <p class="text-muted">musician</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-8">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <i class="fa fa-user"></i><span class="text-muted"> Name</span>
              <p>Rifqi Yuliandri</p>
              <input
                *ngIf="inputDisplay === true"
                type="tel"
                name="name"
                placeholder="edit here..."
              />
            </li>
            <li class="list-group-item">
              <i class="fa fa-envelope"></i
              ><span class="text-muted"> Email</span>
              <p>Rifqhiyr@gmail.com</p>
              <input
                *ngIf="inputDisplay === true"
                type="email"
                name="email"
                placeholder="edit here..."
              />
            </li>
            <li class="list-group-item">
              <i class="fa fa-venus-mars"></i
              ><span class="text-muted"> Gender</span>
              <p>Male</p>
              <div
                *ngIf="inputDisplay === true"
                class="form-check form-check-inline"
              >
                <input
                  class="form-check-input"
                  type="radio"
                  name="gender"
                  id="male"
                  value="male"
                />
                <label class="form-check-label mr-2" for="gridRadios1"
                  >male</label
                >
                <input
                  class="form-check-input"
                  type="radio"
                  name="gender"
                  id="female"
                  value="female"
                />
                <label class="form-check-label" for="female">female</label>
              </div>
            </li>
            <li class="list-group-item">
              <i class="fa fa-map-marker"></i
              ><span class="text-muted"> address</span>
              <p>Jagakarsa St.</p>
              <input
                *ngIf="inputDisplay === true"
                type="text"
                name="address"
                placeholder="edit here..."
              />
            </li>
            <li class="list-group-item">
              <i class="fa fa-building"></i
              ><span class="text-muted"> City</span>
              <p>Jakarta</p>
              <input
                *ngIf="inputDisplay === true"
                type="text"
                name="city"
                placeholder="edit here..."
              />
            </li>
            <li class="list-group-item">
              <i class="fa fa-globe"></i
              ><span class="text-muted"> Country</span>
              <p>Indonesia</p>
              <input
                *ngIf="inputDisplay === true"
                type="text"
                name="country"
                placeholder="edit here..."
              />
            </li>
            <li class="list-group-item">
              <i class="fa fa-music"><span class="text-muted"> genre</span></i>
              <p>Jazz Pop Metal</p>
              <input
                *ngIf="inputDisplay === true"
                type="text"
                name="genre"
                placeholder="edit here..."
              />
            </li>
          </ul>
        </div>
      </div>
      <div class="row row-cols-1">
        <div class="d-flex justify-content-end">
          <button class="btn btn-outline-warning" (click)="onEdit()">
            Edit
          </button>
          <button
            class="btn btn-outline-primary"
            [disabled]="!inputDisplay"
            (click)="onSave()"
          >
            Save
          </button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
