<div class="row">
  <div class="col-12 col-md-4 text-center">
    <div class="card">
      <img class="img-fluid rounded" [src]="costumerProfile.imgPath" alt="" />
    </div>
    <div class="card">
      <div class="card-body">
        <h3>{{ costumerProfile.name }}</h3>
        <p class="text-muted">{{ costumerProfile.role }}</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-8">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <i class="fa fa-user"></i><span class="text-muted"> Name</span>
        <br />
        <input type="text" name="name" value="{{ costumerProfile.name }}" />
      </li>
      <li class="list-group-item">
        <i class="fa fa-envelope"></i><span class="text-muted"> Email</span>
        <br />
        <input type="email" name="email" value="{{ costumerProfile.email }}" />
      </li>
      <li class="list-group-item">
        <i class="fa fa-key"></i><span class="text-muted"> Password</span>
        <br />
        <input
          type="password"
          name="password"
          value="{{ costumerProfile.password }}"
        />
      </li>
      <li class="list-group-item">
        <i class="fa fa-venus-mars"></i><span class="text-muted"> Gender</span>
        <br />
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="gender"
            id="male"
            value="male"
          />
          <label class="form-check-label mr-2" for="gridRadios1">male</label>
          <input
            class="form-check-input"
            type="radio"
            name="gender"
            id="female"
            value="female"
          />
          <label class="form-check-label" for="female">female</label>
        </div>
      </li>
      <li class="list-group-item">
        <i class="fa fa-map-marker"></i><span class="text-muted"> Address</span>
        <br />
        <input
          type="text"
          name="address"
          value="{{ costumerProfile.address }}"
        />
      </li>
      <li class="list-group-item">
        <i class="fa fa-building"></i><span class="text-muted"> City</span>
        <br />
        <input type="text" name="city" value="{{ costumerProfile.city }}" />
      </li>
      <li class="list-group-item">
        <i class="fa fa-globe"></i><span class="text-muted"> Country</span>
        <br />
        <input
          type="text"
          name="country"
          value="{{ costumerProfile.country }}"
        />
      </li>
    </ul>
  </div>
</div>
